cf*.properties
/bin
/_classes
/_temp
/dist
/_protobuf
*.iml
.idea
*.d
*.o
OpenSharding/OpenSharding.xcodeproj/project.xcworkspace/xcuserdata
libmyospfacade/MyOSPDriver/MyOSPDriver.xcodeproj/xcuserdata
